{% extends "timesheet/base.html" %}
{% block content %}

<h2>Nouvelle feuille de temps</h2>

<form method="post">
  {% csrf_token %}

  {% if form.non_field_errors %}
    <p style="color:red">{{ form.non_field_errors }}</p>
  {% endif %}

  <p>
    {{ form.employee.label_tag }}<br>
    {{ form.employee }}
    {{ form.employee.errors }}
  </p>

  <p>
    {{ form.week_start.label_tag }}<br>
    {{ form.week_start }}
    {{ form.week_start.errors }}
  </p>

  <button type="submit">Créer</button>
</form>

{% endblock %}